/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

.shadow {
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2) !important;
	-moz-box-shadow:    1px 1px 2px 1px rgba(0, 0, 0, 0.2) !important;
	box-shadow:         1px 1px 2px 1px rgba(0, 0, 0, 0.2) !important;
}

.image-contaier {
	border-width: 5px;
	color: #f3f3f3;
}

.nav-bar {
	background-color: #4a4f4e;
}

.panel-wrap{
	background-color: transparent !important;
}
.title-component{
	background-color: transparent !important;
}
.panel-margin {
	margin: 0 20% !important;
}

.uber-panel {
	padding-left: 20% !important;
	padding-right: 20% !important;
}

.uber-panel-margin {
	margin-right: 20% !important;
	margin-left: 20% !important;
}

.uber-panel-inner {
	margin: 20px;
}

.form-layout {
	// margin: 15px 10% !important;
}
//main

.main-container {
	background-color: #f1f2f4;
}
.main-container-wrap {
	// background-color: #f4f4f4 !important;
}

//profile page

.profile-panel-outer {
	background: #f4f4f4 !important;
}
.profile-container {
	// padding-left: 20% !important;
	// padding-right: 20% !important;
	// background-color: transparent !important;
}
.profile-panel {
	
	// background-color: transparent !important;
}
.profile-wrap {
	padding: 40px !important;
    // width: 960px;
}
.profile-manager-wrap {
	padding: 40px 40px 80px;
}
//search page
.search-panel {
	padding-left: 20% !important;
	padding-right: 20% !important;
}

//tutor page
.tutor-panel {
	background-color: #f1f2f4;
	padding-left: 20%;
    padding-right: 20%;
}

//tutor profile
.tutor-review-grid {
	.x-grid-cell-inner {
		white-space: normal !important;

		.review {
			text-align: left;
			.information-panel {

				.review-row-one {
					
					span {
						margin: 5px;
						i {
							margin: 5px;
							font-style: normal !important;
						}
					}
					.user-panel {
						display: inline-block;

					}
					.date-panel {
						display: inline-block;
					}
					.rating-panel {
						display: inline-block;
					}
				}
			}
			.comment-panel {
			}
		}
	}
}

//chat
.chat-panel {
	padding-left: 20%;
	padding-right: 20%;
}

//Tutor registration
.delete-button {
	color: #ff0000;
}







