/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

.shadow {
    @include box-shadow(1px 1px 2px 1px rgba(0,0,0,0.2));
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
 	-moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.nav-bar {
	background-color: #4a4f4e;
}

.panel-wrap{
	background-color: transparent !important;
}
.title-component{
	background-color: transparent !important;
}
.panel-margin {
	margin: 0 20% !important;
}

//main

.main-container {
	background-color: #f1f2f4;
}
.main-container-wrap {
	background-color: #f4f4f4 !important;
}

//profile page

.profile-panel-outer {
	background: #f4f4f4 !important;
}
.profile-container {
	padding-left: 20% !important;
	padding-right: 20% !important;
	// background-color: transparent !important;
}
.profile-panel {
	
	// background-color: transparent !important;
}
.profile-wrap {
	padding: 40px !important;
    // width: 960px;
}
.profile-manager-wrap {
	padding: 40px 40px 80px;
}
//search page
.search-panel {
	background-color: #f1f2f4;
}

//tutor page
.tutor-panel {
	background-color: #f1f2f4;
	padding-left: 15%;
    padding-right: 15%;
}











