<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="jdbc.batch_size">20</property>
		<property name="connection.autocommit">true</property>

		<!-- 显示sql语句 -->
		<property name="show_sql">true</property>
		<!-- 格式化sql语句 -->
		<property name="format_sql">true</property>
		<property name="connection.useUnicode">true</property>
		<property name="connection.characterEncoding">UTF-8</property>
		<!-- update：表示自动根据model对象来更新表结构 -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<!-- 缓存设置 -->

	</session-factory>
</hibernate-configuration>